
<aside class="dashboard__sidebar">
    <nav class="dashboard__menu">
        <a href="/dashboard" class="dashboard__enlace ">
            <i class="fa-solid fa-chart-simple"></i>
            <span class="dashboard__menu-texto">
                Estadisticas
            </span>    
        </a>

        <a href="/admin/users" class="dashboard__enlace ">
            <i class="fa-solid fa-users dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Usuarios
            </span>    
        </a>

        <a href="/dashboard" class="dashboard__enlace">
            <i class="fa-solid fa-calendar dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Reservas
            </span>    
        </a>

        <a th:if="${userType eq 'OWNER' or userType eq 'ADMIN'}" href="/register-property" class="dashboard__enlace ">
            <i class="fa-solid fa-house dashboard__icono"></i>
            <span class="dashboard__menu-texto">
                Propiedades
            </span>    
        </a>
        <!-- <a href="/dashboard" class="dashboard__enlace ">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <span class="dashboard__menu-texto">
                Servicios
            </span>    
        </a> -->
        <!-- <a href="/dashboard" class="dashboard__enlace ">
            <i class="fa-solid fa-gift dashboard__icono"></i>
            <span class="dashboard__menu-texto">
             Veremos
            </span>    
        </a> -->
    </nav>
</aside>