<div class="bloques" th:if="${statsBoolean}">
	<div class="bloques__grid">
		<div class="bloque">
			<h3 class="bloque__heading">Últimos Registros</h3>


			<div class="bloque__contenido">
				<p class="bloque__texto" th:each="user : ${ultimosRegistros}" th:text="${user.email}">
				</p>
			</div>
		</div>

		<div class="bloque">
			<h3 class="bloque__heading">Ingresos totales</h3>
			<p class="bloque__texto--cantidad" th:text="'$' + ${ingresosTotales}"></p>
		</div>
	</div>
</div>

<center>

	<!--TABLA USERS-->
	<div class="grupoDiv" style="display: flex; gap: 10px; height: 100%; font-size: medium; " th:if="${usersBoolean}">
		<div class=" grupoDiv2" style="display: flex; flex-direction: column; gap: 10px;">
			<div class="card" id="filtrar" style="width: 11rem; display: none; text-align: center;">
				<form class="card-body" action="/admin/dashboard/users" method="post">
					<h5 class="card-title">Búsqueda personalizada</h5>
					<br>
					<div class="form-group">
						<label for="type">Tipo:</label>
						<select class="form-control text-center" id="type" name="type">
							<option value="CUALQUIERA" th:text="CUALQUIERA"></option>
							<option value="ADMIN" th:text="ADMIN"></option>
							<option value="OWNER" th:text="OWNER"></option>
							<option value="CLIENT" th:text="CLIENT"></option>
						</select>
					</div>
					<br>
					<div class="form-group">
						<label for="order">Orden:</label>
						<select class="form-control text-center" id="order" name="order">
							<option value="ASC">Ascendente</option>
							<option value="DESC">Descendente</option>
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</div>
		</div>
		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll; ">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Nombre
							</th>
							<th scope="col">
								Apellido
							</th>
							<th scope="col">
								Email
							</th>
							<th scope="col">
								Tipo
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${listaUsuarios}">
							<form action="/admin/dashboard/users/edit" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${usuario.id}">
								</td>
								<td style="vertical-align: middle;">
									<input type="text" name="username" class="form-control" readOnly=true
										th:value="${usuario.username}" th:id="${usuario.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" name="lastname" class="form-control" readOnly=true
										th:value="${usuario.lastname}" th:id="${usuario.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="email" name="email" class="form-control" readOnly=true
										th:value="${usuario.email}" th:id="${usuario.id}" aria-describedby="emailHelp"
										required>
								</td>
								<td style="vertical-align: middle; width: 100px; text-align: center;">

									<input type="text" class="form-control inputUser" readOnly=true
										th:value="${usuario.type}" th:id="${usuario.id}" required>

									<select class="form-control selectUser custom-select custom-select-sm" id="type"
										name="type" th:id="${usuario.id}" style="display: none; border-color: black;">
										<option th:selected="(${usuario.type} eq 'ADMIN')" th:value="ADMIN"
											th:text="ADMIN">
										</option>
										<option th:selected="(${usuario.type} eq 'OWNER')" th:value="OWNER"
											th:text="OWNER">
										</option>
										<option th:selected="(${usuario.type} eq 'CLIENT')" th:value="CLIENT"
											th:text="CLIENT"></option>
									</select>

								</td>
								<td style="vertical-align: middle; text-align: center;">
									<button type="button" class="btn btn-primary btn-editar"
										onclick="edicionUsers(this)" style="width: 4rem;">
										Editar
									</button>
									<button type="submit" class="btn btn-success btn-guardar"
										onclick="guardarCambiosUsers(this)" style="display: none; width: 5rem;">
										Guardar
									</button>
									<button type="submit" class="btn btn-danger btn-eliminar"
										onclick="eliminarFilaUsers(this)" style="width: 5rem;">
										Eliminar
									</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!--FIN TABLA USERS-->

	<!--______________________________________________________________________-->

	<!--TABLA POSTS-->

	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${postsBoolean}">
		<div class=" grupoDiv2" style="display: flex; flex-direction: column; gap: 10px;">
			<div class="card" id="filtrar" style="width: 11rem; display: none; text-align: center;">
				<form class="card-body" action="/admin/dashboard/posts" method="post">
					<h5 class="card-title">Búsqueda personalizada</h5>
					<br>
					<div class="form-group">
						<label for="rating">Rating:</label>
						<select class="form-control text-center" id="rating" name="rating">
							<option value="0" th:text="CUALQUIERA"></option>
							<option value="5" th:text="5"></option>
							<option value="4" th:text="4"></option>
							<option value="3" th:text="3"></option>
							<option value="2" th:text="2"></option>
							<option value="1" th:text="1"></option>
						</select>
					</div>
					<br>
					<div class="form-group">
						<label for="order">Orden:</label>
						<select class="form-control text-center" id="order" name="order">
							<option value="ASC">Ascendente</option>
							<option value="DESC">Descendente</option>
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</div>
		</div>
		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Rating
							</th>
							<th scope="col">
								Comentario
							</th>
							<th scope="col">
								Cliente
							</th>
							<th scope="col">
								Propiedad
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="post : ${listaPosts}">
							<form action="/admin/dashboard/posts/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${post.id}">
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${post.rating}"
										th:id="${post.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${post.commentary}"
										th:id="${post.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<a href="/profile/${post.client.id}"> <input type="text" class="form-control"
											readOnly=true th:value="${post.client.id}" th:id="${post.id}" required>
									</a>
								</td>
								<td style="vertical-align: middle;">
									<a href="/profile/${post.property.id}"> <input type="text" class="form-control"
											readOnly=true th:value="${post.property.id}" th:id="${post.id}"
											required></a>
								</td>
								<td style="vertical-align: middle; text-align: center;">
									<button type="submit" class="btn btn-danger btn-eliminar" style="width: 5rem;">
										Eliminar
									</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!--FIN TABLA POSTS-->



	<!--______________________________________________________________________-->

	<!--TABLA PROPERTIES-->
	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${propertiesBoolean}">
		<div class=" grupoDiv2" style="display: flex; flex-direction: column; gap: 10px;">
			<div class="card" id="filtrar" style="width: 11rem; display: none; text-align: center;">
				<form class="card-body" action="/admin/dashboard/properties" method="post">
					<h5 class="card-title">Búsqueda personalizada</h5>
					<br>
					<div class="form-group">
						<label for="type">Ordenar por:</label>
						<select class="form-control text-center" id="type" name="type">
							<option value="id">ID</option>
							<option value="name">NOMBRE</option>
							<option value="price">PRECIO</option>
							<option value="rating">RATING GENERAL</option>
						</select>
					</div>
					<br>
					<div class="form-group">
						<label for="order">Orden:</label>
						<select class="form-control text-center" id="order" name="order">
							<option value="ASC">Ascendente</option>
							<option value="DESC">Descendente</option>
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</div>
		</div>
		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Nombre
							</th>
							<th scope="col">
								Dirección
							</th>
							<th scope="col">
								Detalles
							</th>
							<th scope="col">
								Precio por día
							</th>
							<th scope="col">
								Cant. servicios
							</th>
							<th scope="col">
								Rating general
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="property : ${listaProperties}">
							<form action="/admin/dashboard/properties/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${property.id}">
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.name}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.address}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.details}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${property.pricePerDay}" th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${#lists.size(property.services)}" th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.rating}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle; text-align: center;">
									<button type="submit" class="btn btn-danger btn-eliminar" style="width: 5rem;">
										Eliminar
									</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--FIN TABLA PROPERTIES-->

	<div class="auth" th:if="${registerPropBoolean}">
		<h2 class="auth__heading">Portal de Registro de Propiedades</h2>
		<form method="post" action="/register-property" enctype="multipart/form-data">
			<div class="formulario__campo">
				<label for="propertyName">Nombre de la propiedad</label>
				<input type="text" id="propertyName" class="formulario__input" placeholder="Nombre" name="propertyName"
					required>
			</div>
			<div class="formulario__campo">
				<label for="propertyAddress">Calle y número</label>
				<input type="text" id="propertyAddress" class="formulario__input" placeholder="Ej: Solis 2988 "
					name="propertyAddress" required>
			</div>
			<div class="formulario__campo">
				<label for="propertyLocalidad">Localidad o Barrio</label>
				<input type="text" id="propertyLocalidad" class="formulario__input"
					placeholder="Ej: Avellaneda, Tigre ó Retiro" name="propertyLocalidad" required>
			</div>
			<div class="formulario__campo">
				<label for="propertyProvincia">Provincia</label>
				<input type="text" id="propertyProvincia" class="formulario__input"
					placeholder="Ej: Buenos Aires, Mendoza ó CABA" name="propertyProvincia" required>
			</div>
			<div class="formulario__campo">
				<label for="pricePerDay">Precio base por día</label>
				<input type="number" id="pricePerDay" class="formulario__input" placeholder="Pesos" name="pricePerDay"
					required>
			</div>
			<br>
			<div class="formulario__campo">
				<label for="imagenes">Selecciona imágenes:</label>
				<input type="file" name="imagenes" id="imagenes" accept="image/*" multiple required>
				<br>
				<label for="details">Introduce detalles (máximo 255 caracteres): </label>
				<input type="text" id="details" class="formulario__input" placeholder="Descripción" name="details"
					maxlength="255" required>
			</div>
			<div id="inputContainer">
				<!-- Aquí se agregarán dinámicamente los inputs -->
			</div>
			<label for="services">Servicios Adicionales:</label><br><br>

			<input type="checkbox" id="service1" name="services[]" value="Pileta"
				onclick="toggleInput(this, 1)">Pileta<input type="number" name="precio[]" id="precio1"
				placeholder="Precio" disabled> <br>
			<input type="checkbox" id="service2" name="services[]" value="Alquiler de Mobiliario
			(sillas, mesas, carpas, etc)" onclick="toggleInput(this, 2)">Alquiler de Mobiliario
			(sillas, mesas, carpas, etc)<input type="number" name="precio[]" id="precio2" placeholder="Precio" disabled>
			<br>
			<input type="checkbox" id="service3" name="services[]" value="Decoración Temática"
				onclick="toggleInput(this, 3)">Decoración Temática<input type="number" name="precio[]" id="precio3"
				placeholder="Precio" disabled><br>
			<input type="checkbox" id="service4" name="services[]" value="Show de Luces y Efectos Especiales"
				onclick="toggleInput(this, 4)">Show de Luces y Efectos Especiales<input type="number" name="precio[]"
				id="precio4" placeholder="Precio" disabled><br>
			<input type="checkbox" id="service5" name="services[]" value="Sonido y Música"
				onclick="toggleInput(this, 5)">Sonido
			y Música<input type="number" name="precio[]" id="precio5" placeholder="Precio" disabled><br>
			<input type="checkbox" id="service6" name="services[]" value="Servicio de Catering"
				onclick="toggleInput(this, 6)">Servicio de Catering<input type="number" name="precio[]" id="precio6"
				placeholder="Precio" disabled><br>
			<input type="checkbox" id="service7" name="services[]" value="Servicio de Limpieza"
				onclick="toggleInput(this, 7)">Servicio de Limpieza<input type="number" name="precio[]" id="precio7"
				placeholder="Precio" disabled><br>
			<br><br><br>

			<button type="submit">Enviar</button>
		</form>
	</div>


	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${uBookingsBoolean}">

		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Propiedad
							</th>
							<th scope="col">
								Fecha
							</th>
							<th scope="col">
								Precio total
							</th>
							<th scope="col">
								Cant. servicios contratados
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reserva : ${listaReservas}">
							<form action="/dashboard/client/reservas/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${reserva.id}">
								</td>
								<td style="vertical-align: middle;">
									<a th:href="@{/property/{id}(id=${reserva.property})}"><button class="form-control"
											th:id="${reserva.id}" required type="button"> Página de
											la
											propiedad</button></a>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.date}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.total}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${#lists.size(reserva.services)}" th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle; text-align: center;" th:if="${!reserva.bool}">
									<button type="submit" class="btn btn-danger btn-eliminar" style="width: 5rem;">
										Eliminar
									</button>
								</td>
								<td style="vertical-align: middle; text-align: center;"
									th:if="${!reserva.post and reserva.bool}">
									<a th:href="@{/post/{id}/{bookId}(id=${reserva.property}, bookId=${reserva.id})}">
										<button type="button" class="btn btn-primary btn-eliminar" style="width: 5rem;">
											Calificar
										</button>
									</a>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${uHBookingsBoolean}">

		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Propiedad
							</th>
							<th scope="col">
								Fecha
							</th>
							<th scope="col">
								Precio total
							</th>
							<th scope="col">
								Cant. servicios contratados
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reserva : ${listaReservas}">
							<form action="/dashboard/client/reservas/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${reserva.id}">
								</td>
								<td style="vertical-align: middle;">
									<a th:href="@{/property/{id}(id=${reserva.property})}"><button class="form-control"
											th:id="${reserva.id}" required type="button"> Página de
											la
											propiedad</button></a>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.date}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.total}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${#lists.size(reserva.services)}" th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle; text-align: center;"
									th:if="${!reserva.post and reserva.bool}">
									<a th:href="@{/post/{id}/{bookId}(id=${reserva.property}, bookId=${reserva.id})}">
										<button type="button" class="btn btn-primary btn-eliminar" style="width: 5rem;">
											Calificar
										</button>
									</a>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${oBookingsBoolean}">

		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Cliente
							</th>
							<th scope="col">
								Propiedad
							</th>
							<th scope="col">
								Fecha
							</th>
							<th scope="col">
								Precio total
							</th>
							<th scope="col">
								Cant. servicios contratados
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reserva : ${listaReservas}">
							<form action="/dashboard/owner/reservas/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${reserva.id}">
								</td>
								<td style="vertical-align: middle;">
									<a th:href="@{/profile/{id}(id=${reserva.user.id})}"><button class="form-control"
											th:id="${reserva.id}" required type="button"> Perfil del
											cliente</button></a>
								</td>
								<td style="vertical-align: middle;">
									<a th:href="@{/property/{id}(id=${reserva.property})}"><button class="form-control"
											th:id="${reserva.id}" required type="button"> Página de
											la
											propiedad</button></a>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.date}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.total}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${#lists.size(reserva.services)}" th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle; text-align: center;" th:if="${!reserva.bool}">
									<button type="submit" class="btn btn-danger btn-eliminar" style="width: 5rem;">
										Eliminar
									</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${oHBookingsBoolean}">

		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Cliente
							</th>
							<th scope="col">
								Propiedad
							</th>
							<th scope="col">
								Fecha
							</th>
							<th scope="col">
								Precio total
							</th>
							<th scope="col">
								Cant. servicios contratados
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reserva : ${listaReservas}">
							<form action="/dashboard/owner/reservas/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${reserva.id}">
								</td>
								<td style="vertical-align: middle;">
									<a th:href="@{/profile/{id}(id=${reserva.user.id})}"><button class="form-control"
											th:id="${reserva.id}" required type="button"> Perfil del
											cliente</button></a>
								</td>
								<td style="vertical-align: middle;">
									<a th:href="@{/property/{id}(id=${reserva.property})}"><button class="form-control"
											th:id="${reserva.id}" required type="button"> Página de
											la
											propiedad</button></a>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.date}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${reserva.total}"
										th:id="${reserva.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${#lists.size(reserva.services)}" th:id="${reserva.id}" required>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div class="grupoDiv" style="margin: 20px; display: flex; gap: 10px; height: 100%; font-size: medium; "
		th:if="${OpropertiesBoolean}">
		<div class=" grupoDiv2" style="display: flex; flex-direction: column; gap: 10px;">
			<div class="card" id="filtrar" style="width: 11rem; display: none; text-align: center;">
				<form class="card-body" action="/dashboard/owner/properties" method="post">
					<h5 class="card-title">Búsqueda personalizada</h5>
					<br>
					<div class="form-group">
						<label for="type">Ordenar por:</label>
						<select class="form-control text-center" id="type" name="type">
							<option value="id">ID</option>
							<option value="name">NOMBRE</option>
							<option value="price">PRECIO</option>
							<option value="rating">RATING GENERAL</option>
						</select>
					</div>
					<br>
					<div class="form-group">
						<label for="order">Orden:</label>
						<select class="form-control text-center" id="order" name="order">
							<option value="ASC">Ascendente</option>
							<option value="DESC">Descendente</option>
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</div>
		</div>
		<div class="table" style="height: 100%; width: 100%; overflow-y: scroll;">
			<div class="grupoDiv" style="display: flex; gap: 10px;">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								ID
							</th>
							<th scope="col">
								Nombre
							</th>
							<th scope="col">
								Dirección
							</th>
							<th scope="col">
								Detalles
							</th>
							<th scope="col">
								Precio por día
							</th>
							<th scope="col">
								Cant. servicios
							</th>
							<th scope="col">
								Rating general
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="property : ${listaProperties}">
							<form action="/dashboard/owner/properties/delete" method="post">
								<td scope="row" style="vertical-align: middle;">
									<input type="text" name="id" class="form-control" readonly="readonly"
										style="width: 36px; text-align: center;" th:value="${property.id}">
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.name}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.address}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.details}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${property.pricePerDay}" th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true
										th:value="${#lists.size(property.services)}" th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle;">
									<input type="text" class="form-control" readOnly=true th:value="${property.rating}"
										th:id="${property.id}" required>
								</td>
								<td style="vertical-align: middle; text-align: center;">
									<button type="submit" class="btn btn-danger btn-eliminar" style="width: 5rem;">
										Eliminar
									</button>
								</td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</center>