:root {
	--color-primario: #E85A19;
	--color-secundario: #ff694f;
	--color-blanco: #fff;
	--color-negrp: #302e2c;
}


/******************* NORMALIZE ********************/



html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}


/************************* MEDIA QUERYS *************************/
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.8rem;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	font-family: "Rajdhani", sans-serif;
	font-weight: 900;
	margin: 2rem 0;
	border-radius: 2rem;
	color: #FFFFFF;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 3rem;
}

.text-center {
	text-align: center;
}


body {
	background-color: #fffbfb;
}


/************************* REGISTER - Marcos *************************/
.auth {
	width: min(95%, 60rem);
	margin: 0 auto;
	padding: 0 2rem 2rem;
	border-radius: 3rem;
	background-color: #e4e4e4;
	-webkit-box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
	-moz-box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
	box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
}

.auth__heading {
	font-family: "Rajdhani", sans-serif;
	font-weight: 900;
	margin: 2rem 0;
	border-radius: 2rem;
	color: #222;
	margin: 6rem 0 3rem 0;
	text-align: center;
	padding: 1rem;
}

.auth__texto {
	font-size: 2rem;
	text-align: center;
	color: var(--color-negrp);
}

/************************* LOGIN - Marcos *************************/
.login__heading {
	font-family: "Rajdhani", sans-serif;
	font-weight: 900;
	margin: 2rem 0;
	border-radius: 2rem;
	color: #131313;
	margin: 6rem 0 3rem 0;
	text-align: center;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__campo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1.5rem 0;
}

.formulario__label {
	display: block;
	font-size: 2rem;
	font-weight: 600;
	color: #FFFFFF;
}
.formulario__textarea {
	padding: 1rem;
	  border: 1px solid var(--color-primario);
	  border-radius: 0.5rem;
	  width: 50rem;
	  max-width: 55rem;
	
	}
  
/**********************************************************/
.formulario__input {
	padding: 1rem;
	border: 1px solid var(--color-primario);
	border-radius: 0.5rem;
	width: 35rem;
	max-width: 35rem;
	background: #ececec;
}


.formulario__input:focus {
	outline: none;
	-webkit-box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
	-moz-box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
	box-shadow: 0px 0px 21px 10px rgba(232, 90, 25, 0.29);
}


.formulario__input::placeholder {
	color: #222;
}

.acciones__enlaces {
	display: flex;
	color: var(--color-primario);
	justify-content: center;
}

/************************* BUTTON INGRESAR - Marcos*************************/

.bn632-hover {
	width: 305px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.bn632-hover:hover {
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.bn632-hover:focus {
	outline: none;
}

.bn632-hover.bn19 {
	background-image: linear-gradient(to right,
			#f5ce62,
			#e43603,
			#fa7199,
			#e85a19);
	box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/************************* BUTTON REGISTRO - Marcos*************************/
.bn6-hover {
	width: 235px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	transition: all .4s ease-in-out;
	line-height: 55px;
	/* Añade esta línea para centrar el texto verticalmente */
}

.bn6-hover:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.bn6-hover:focus {
	outline: none;
}

.bn6-hover.bn1 {
	background-image: linear-gradient(to right,
			#f5ce62,
			#e43603,
			#fa7199,
			#e85a19);
	box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/************************* BUTTON CREAR CUENTA - Marcos*************************/
.btn-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bn9-hover {
	width: 271px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	transition: all .4s ease-in-out;
	line-height: 55px;
	/* Añade esta línea para centrar el texto verticalmente */
}

.bn9-hover:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.bn9-hover:focus {
	outline: none;
}

.bn9-hover.bn4 {
	background-image: linear-gradient(to right,
			#f5ce62,
			#e43603,
			#fa7199,
			#e85a19);
	box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/******18.03.2024 == MARIA **********************************/
.btn {
	border-radius: 4px;  
	color: #fff;
	cursor: pointer;  
	letter-spacing: .5px;  
  }
  
  .btn-alt {
	background-color: #E85A19;
	padding: 15px 30px;
  }

  
/************************* FOOTER *************************/

.footer {
	background-color: #e6e6e6;
	margin-top: 16rem;
	padding-top: 1rem;
	border-top: 3px solid var(--color-secundario);
	-webkit-box-shadow: 0px 1px 20px 5px #E85A19;
	-moz-box-shadow: 0px 1px 20px 5px #E85A19;
	box-shadow: 0px 1px 20px 5px #E85A19;
}

.footer__grid {
	width: min(95%, 120rem);
	margin: 0 auto;
}

@media (min-width: 768px) {
	.footer__grid {
		display: grid;
		gap: 3rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

.footer__logo {
	text-align: center;
	margin-bottom: 2rem;
	margin: 0 5rem;
	font-size: 3rem;
	color: var(--color-primario)
}

@media (min-width: 1024px) {
	.footer__logo {
		text-align: left;
		margin: 1rem 2rem 1rem 0;
	}
}

.footer__logo .barra__copy {
	font-family: "Kanit", sans-serif;
	font-size: 1.9rem;
	font-weight: 500;
	color: #007df4;
}

.footer__logo .barra__rp {
	color: #007df4;
}

.footer__texto {
	line-height: 2;
	color: var(--color-negrp);
	font-size: 1.5rem;
	text-align: center;
	font-weight: 500;
}

@media (min-width: 768px) {
	.footer__texto {
		text-align: left;
	}
}

.footer__copyright {
	background-color: var(--color-primario);
	margin: 3rem 0 0 0;
	padding: 5px 0;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
}

.footer__copyright--regular {
	font-weight: 400;
}

.menu-redes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.menu-redes__enlace::before {
	color: var(--color-primario);
	font-size: 2rem;
	display: inline-block;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 6 Brands";
}

.menu-redes__enlace[href*="https://discord.gg"]::before {
	content: "\f392";
}

.menu-redes__enlace[href*="https://facebook.com"]::before {
	content: "\f39e";
}

.menu-redes__enlace[href*="https://github.com"]::before {
	content: "\f09b";
}

.menu-redes__enlace[href*="https://tiktok.com"]::before {
	content: "\e07b";
}

.menu-redes__enlace[href*="https://instagram.com"]::before {
	content: "\f16d";
}

.menu-redes__enlace[href*="https://youtube.com"]::before {
	content: "\f167";
}

.menu-redes__enlace[href*="https://twitter.com"]::before {
	content: "\f099";
}

.menu-redes__ocultar {
	display: none;
}

@media (min-width: 768px) {
	.menu-redes {
		justify-content: flex-end;
	}
}

.menu-border {
	display: flex;
	gap: 1rem;
	border-left: 1px solid #fffcfc;
	padding-left: 1rem;
}

@media (min-width: 768px) {
	.menu-border {
		justify-content: center;
	}
}


