/*
  ========================================
  Reinicio === Carlos Morillo ===
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  @import === Carlos Morillo ===
  ========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
  ========================================
  Root === Carlos Morillo ===
  ========================================
*/

:root {
  --color-secundario: #ff694f;
    --color-primario: #E85A19;
       --color-negro: #302e2c;
         --color-blanco: #fff;
}

/*
  ========================================
  Custom styles === Carlos Morillo ===
  ========================================
*/

body {
  color: #fff;
  font: 22px "Poppins", sans-serif;
  background-color: rgb(232, 90, 25);  
  background: -webkit-linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  background:    -moz-linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  background:         linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
}

img {
  max-width: 100%;
}

/*
  ========================================
  Grid === Carlos Morillo ===
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid,
.container { 
  width: 95%;
  margin: 0 auto;    
}

.container {
  padding-left: 2.24192037470726%; /*30px*/
  padding-right: 2.24192037470726%;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-3,
.col-2-3 {  
  vertical-align: middle;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
}

.col-1-3-alt {     
  margin-bottom: 70px;    
}

.col-1-3 {
  width: 33.33%; 
}

.col-1-3-alt,
.col-2-3 {
  text-align: center; 
}

.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix === Carlos Morillo ===
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:before {
  z-index: 1;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  zoom: 1;
}

/*
  ========================================
  Rows === Carlos Morillo ===
  ========================================
*/

.row {
  background-color: #f4f4f4;  
}

.row,
.row-alt {
  padding-top: 44px;
  padding-bottom: 44px;  
}

.row-alt-buscar {
  padding-top: 125px;
  padding-bottom: 125px;  
}

/*
  ========================================
  Tipografía === Carlos Morillo ===
  ========================================
*/

h1 {
  font-size: 16px;
}

.col-buscar h1,
h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

h2 {  
  font-size: 28px;
  line-height: 33px;  
}

.icon-correo h5 {
  margin-bottom: 70px;
  font-weight: 600; 
  margin-left: 35px; 
}

.col-2-3 h2,
.col-buscar p {
  color: #cf5117; 
}

.col-2-3 p {
  color: #888; 
}

.col-2-3 p,
.col-buscar p {  
  font-size: 18px;  
}

.col-buscar h1{
  color: #302e2c;
  font-size: 30px;
}
.col-buscar p {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}

/*
  ========================================
  Leads === Carlos Morillo ===
  ========================================
*/

.lead {
  text-align: center;
}

.lead p {
  font-size: 18px;
  line-height: 33px;
}

/*
  ========================================
  Links === Carlos Morillo ===
  ========================================
*/

a:hover {
  color: #888;
}

a {
  color: #E85A19;
  text-decoration: none;
}

li a { 
  padding: 8px 15px;
}

.primary-footer a:hover,
.primary-nav a {
  color: #5a5a5a;  
}

.col-2-3 a:hover,
.primary-nav a:hover {
  color: #E85A19;
}

.primary-footer a {
  color: inherit;
}

/*
  ========================================
  Botones === Carlos Morillo ===
  ========================================
*/

.btn {
  border-radius: 4px;  
  color: inherit;
  cursor: pointer;  
  letter-spacing: .5px;  
}

.nav-btns {
  position: absolute;
  top: 0;
  right: 0;
}

.primary-nav .btn-alt:hover,
.primary-nav .btn-alt {
  color: inherit;
}

.btn-alt:hover,
.btn-defaul:hover {
  opacity: .8;
}

.btn-alt,
.btn-defaul {
  background-color: rgb(232, 90, 25);  
  background: -webkit-linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  background:    -moz-linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  background:         linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  padding: 15px 22px;
}

.btn-defaul {
  border: 0;   
  font-size: 14px;
  font-weight: 700;  
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;   
}

.primary-nav .btn-alt {
  margin-right: 0;
  margin-left: 15px; 
}

.buscar button {  
  background-color: rgb(232, 90, 25);  
  background: url("../icon/icon-lupa.png") 20px 50% no-repeat, -webkit-linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  background:    url("../icon/icon-lupa.png") 20px 50% no-repeat, -moz-linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  background:         url("../icon/icon-lupa.png") 15px 50% no-repeat, linear-gradient(to left, rgb(232, 25, 84) -50%, rgb(232, 90, 25) 50%, rgb(232, 25, 25) 120%);
  color: inherit;
  border-radius: 30px;
  border: none;
  padding: 10px 20px 10px 35px;
  font-weight: 700;
  cursor: pointer;
}

/*
  ========================================
  home === Carlos Morillo ===
  ========================================
*/

.primary-header-index {
  /*background: linear-gradient(to right, rgba(29,30,35, .2) 30%, rgba(255, 255, 255, .4)),
  url(../img/imagen-index-1.jpg); */
}

.buscar input {   
  background-color: transparent;
  border: none;  
  width: 100%;  
  padding-left: 15px;
  font-size: 14px;
}

.buscar input:focus {
  outline: none;
}

/*
  ============================================
  Encabezado principal === Carlos Morillo ===
  ============================================
*/

.primary-header {
  background: linear-gradient(rgba(29,30,35, .2) 30%, rgba(255, 255, 255, .3)),
  url(../img/imagen-header.jpg); 
}

.primary-header,
.primary-header-index {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;  
  min-height: 90vh;
}

.primary-section {     
  box-shadow: rgba(0, 0, 0, .25) 0px 4px 4px; 
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(255, 255, 255);
}

.nav {
  font-size: 14px;
  font-weight: 400;     
}

.logo,
.nav {
  letter-spacing: .5px; 
}

.logo {
  text-transform: uppercase; 
}

.primary-nav {
  margin-top: 16px; 
  margin-right: 26px;  
}

.primary-nav ul {
  margin-right: 5px;
}

.logo h1 { 
  color: #302e2c;  
}
.buscar,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;    
  font-weight: 700;  
}
.logo {   
  float: left;  
}

.logo:hover {
  opacity: .8;
}

.logo img {
  width: 50px;  
  margin-right: 5px;
}

#menu,
.primary-div label {
  display: none;
  float: right;
}

.icon-menu {
  width: 25px;   
}

.primary-div label {
  margin-top: 15px;
  cursor: pointer;  
}

.col-buscar {
  text-align: center;
  border-radius: 14px;
  background-color: rgba(223, 217, 213, .9);
  backdrop-filter: blur(5px);
  padding-top: 74px;
  padding-bottom: 74px;
  width: 75%;  
  margin: 0 auto;
}

.col-buscar span {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.buscar {  
  background-color: #fff;
  border-radius: 40px;
  width: 80%;
  padding: 10px 10px 10px 15px ;
  margin: 0 auto;  
}

.col-buscar,
.buscar {
  box-shadow: rgba(0, 0, 0, .1) 0px 4px 4px; 
}

/*
  ===============================================
  Pie de página principal === Carlos Morillo ===
  ===============================================
*/

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #fff;
  font-size: 14px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
  line-height: 25px;
}

.icon-correo {
  background-image: url(../icon/icon-correo.png);
  background-repeat: no-repeat;  
  background-position: left; 
}

.col-1-3-alt ul {
  text-align: left;    
  border: 1px solid #888;
  background-color: #b53636;  
}

.col-1-3-alt li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon-redes {
  margin-top: 70px;   
  float: right;
}
.icon {
  margin-left: 8px;
  margin-right: 8px;
}
.icon-redes a:first-child {
  margin-left: 0;
}

.icon-redes a:last-child {
  margin-right: 0;
}

/*
  ========================================
  Navigation === Carlos Morillo ===
  ========================================
*/

.nav-container {
  position: relative;
}

.nav {  
  text-align: right;   
}

ul,
nav li {
  display: inline-block;   
}

nav li {
  vertical-align: top;
}

nav li,
.nav select {
  font-weight: 700;
}

.nav select {
  border: none;
  margin-right: 15px;
  cursor: pointer;
  text-align: center; 
  color: #302e2c;   
}

.nav select:focus {
  border-color: #dee2e6;
  outline: 0;
  box-shadow: none; 
}

.nav select:hover {
  background-color: #efefef;  
}

/*
  ========================================
  register === Carlos Morillo ===
  ========================================
*/

.carrusel-row  {    
  overflow: hidden;
  width: 100%;  
}

.carrusel-row div {  
  display: flex;
  animation: slide 10s infinite alternate ease-in-out;  
  width: 200%;
}

.carrusel-row figure { 
  display: inline-block;  
  font-size: 16px;  
}

figcaption {

}

.col-2-3 img:hover {  
  opacity: .7;  
}

.carrusel-row img {
  width: 100%;   
}

.col-2-3 h2 {
  line-height: 33px;
}

.col-2-3 p {
  margin-bottom: 44px;
}

fieldset {
  text-align: center;
  margin: 0 auto;
  width: 85%;
}

legend {
  color: #888;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px; 
  text-align: left; 
}

.col-1-3 input {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 18px 8px; 
  font: 13px "Montserrat", sans-serif;
  width:48.3%;
}

.register-group input[type="email"],
.register-group input[type="password"]{
  width: 100%;
}

.register-group input:focus {
  border-color: #dee2e6;
  outline: 0;
  box-shadow: 0px 0px 0px 1px rgba(232, 90, 25, .9); 
}

.register-group label:first-of-type {  
    margin-right: 3.2%;
}

.acciones_enlaces {  
  font-size: 12px;
}



/*
  ===============================================
  @media Rule === Carlos Morillo ===
  ===============================================
*/

@media screen and (max-width:1000px) {

.logo img {
  width: 40px;
}

.logo h1{
  font-size: 14px;
}

.primary-section {
    position: relative;
}  

.primary-div label {
  display: initial;
  margin-right: 10px;
  margin-top: 10px;
}

.primary-nav {
  position: absolute;
  top: 70%;
  right: 0;
  left: 0;  
  padding-top: 44px;
  padding-bottom: 44px;    
  background-color: rgba(48, 46, 44, .9);
  text-align: center; 
}

.primary-nav .btn-alt {  
  margin-left: 0;    
}

.primary-nav select {
  display: none;
  margin-right: 0px;
}

.primary-nav a,
.primary-nav select {
  font-size: 12px;    
}

.primary-nav a {
  color: #fff;  
  font-weight: 700;  
}

.primary-nav li:nth-last-child(n+3) {
  border-right: .5px solid #fff;  
}

.primary-nav li:last-child { 
  width: 70%;  
  margin-top: 30px;
}

#menu:checked ~ .primary-nav {
  display: initial;
}

}
