<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler de Quinchos</title>
    <link rel="stylesheet" href="../static/Styles/Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/Styles/footer.css">

</head>

<body>

    <header>
        <nav class="navbar">

            <a href="./alquilerquincho.html" class="logo">
                <img src="../static/imagenes.jpg/elquincho_.jpg" alt="quincho" width="150" height="100">
            </a>

            <label for="show-menu" class="show-menu"><i style="font-size:25px" class="fa">&#xf0c9;</i></label>
            <input type="checkbox" id="show-menu" role="button">
            <ul id="menu">
                <li><a href="./alquilerquincho.html" id="navLink">HOME</a></li>
                <li><a href="#about" id="navLink">SOBRE NOSOTROS</a></li>
                <li><a href="#search" id="navLink">BUSCAR</a></li>
                <li><a href="#login" id="navLink">LOGIN</a></li>
            </ul>

        </nav>

    </header>

    <section class="carousel-section">

        <div class="carousel">

            <div class="carousel-container">

                <div class="carousel">

                    <div class="slide">

                        <img src="../static/imagenes.jpg/familia-joven-sus-hijos-casa-divirtiendose.jpg" alt="Imagen 1">

                    </div>

                    <div class="slide">

                        <img src="../static/imagenes.jpg/familia-joven-sus-hijos-casa-divirtiendose.jpg" alt="Imagen 2">

                    </div>

                    <div class="slide">

                        <img src="../static/imagenes.jpg/familia-joven-sus-hijos-casa-divirtiendose.jpg" alt="Imagen 3">

                    </div>

                    <div class="slide">

                        <img src="../static/imagenes.jpg/familia-joven-sus-hijos-casa-divirtiendose.jpg" alt="Imagen 4">

                    </div>

                    <div class="slide">

                        <img src="../static/imagenes.jpg/familia-joven-sus-hijos-casa-divirtiendose.jpg" alt="Imagen 5">

                    </div>

                </div>

            </div>

        </div>

    </section>



    <footer>
        <div class="container">
            <div class="footerLeft">
                <img src="../static/imagenes.jpg/elquincho_.jpg" alt="quincho" width="150" height="150">
            </div>

            <div class="footerRight">
                <ul>
                    <li id="title">MEDIO DE CONTACTO</li>
                    <li>Tel: (0351) 4419200 | (0351) 4576162</li>
                    <li>E-mail: alquileres@quincho.com.ar | alquilerquinchos@gmail.com</li>
                    <li>Dirección: Av. Sabattini 2256, Córdoba.</li>
                </ul>
                <a href="https://www.facebook.com" target="_blank">
                    <button>
                        <i class="fa fa-facebook fa-2x" style="color: #ffffff"></i>
                    </button>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <button>
                        <i class="fa fa-instagram fa-2x" style="color: #ffffff"></i>
                    </button>
                </a>
            </div>


        </div>
        <div class="down">
            <p>©Copyright 2024 - Todos los derechos reservados</p>

        </div>
    </footer>

    <script src="../static/js/scriptNav.js"></script>

</body>

</html>