<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
		<title>Something went wrong!</title>

 
  
			<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
		  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
			
	
	</head>

	<body>
		<nav class="navbar navbar-expand-lg mb-4 fs-4" style="background-color: #ee6f21;">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
					aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- <a class="navbar-brand fs-3" href="/"><img style="width: 40px" src="../static/img/logo.png"
						alt="Logo de la empres"></a> -->
				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item me-1">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
	
	
						</li>
						<li class="nav-item me-2">
							<a th:if="${userType ne 'ADMIN' and userType ne 'OWNER' and userType ne 'CLIENT'}" href="/login"
								class="nav-link">Login</a>
						</li>
						<li class="nav-item me-2">
							<a th:if="${userType ne 'ADMIN' and userType ne 'OWNER' and userType ne 'CLIENT'}"
								href="/register" class="nav-link">Registrarse</a>
						</li>
						<li class="nav-item me-2">
							<a th:if="${userType eq 'ADMIN' or userType eq 'OWNER' or userType eq 'CLIENT'}" href="/profile"
								class="nav-link">Mi perfil</a>
						</li>
					<li class="nav-item me-2">
							<a th:if="${userType eq 'OWNER'}" href="/dashboard/owner/register-property" class="nav-link">Registrar Propiedad
							</a>
						</li> 
						<li class="nav-item me-2">
							<a th:if="${userType eq 'ADMIN' or userType eq 'OWNER' or userType eq 'CLIENT'}"
								href="/dashboard" class="nav-link">Dashboard
							</a>
						</li>
	
					</ul>
					<div class="d-flex fs-4">
						<a th:if="${userType eq 'ADMIN' or userType eq 'OWNER' or userType eq 'CLIENT'}" href="/logout"
							class="nav-link">
							<button class="btn btn-outline-light fs-4">Logout</button>
						</a>
	
					</div>
				</div>
		</nav>

	<section class="page_404">
	  <div class="container">
		  <div class="row">	
		  <div class="col-sm-12 ">
		  <div class="col-sm-10 col-sm-offset-1  text-center">
		  <div class="four_zero_four_bg">
			  <h1 class="text-center "><span th:text="${status}">Status</span></h1>
		  
		  
		  </div>
		  
		  <div class="contant_box_404">
		  <h3 class="h2">
		  Look like you're lost
		  </h3>
		  
		  <p>the page you are looking for not avaible!</p>
		  
		  <a href="/" class="link_404">Go to Home</a>
	  </div>
		  </div>
		  </div>
		  </div>
	  </div>
  </section>
  
  

	
	
	</body>
<style>
	.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #ee6f21;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}
</style>


</html>