<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	<title>Login - Iniciar sesion</title>
</head>

<body>
	
	<main class="login">
		<h2 class="login__heading">Iniciar sesion</h2>
		<p class="login__heading">
			Inicia sesion para poder disfrutar de todos los beneficios que tenemos
			para ti.
		</p>

		<form method="post" action="/forgot-password" class="formulario">
			<div class="formulario__campo">
				<label for="email" class="formulario__label"></label>
				<input type="email" class="formulario__input" placeholder="email" id="email" name="email" value="" />
			</div>


			<button type="submit" class="formulario__submit bn632-hover bn19">
				Ingresar
			</button>
			<a type="button" class="formulario__submit bn6-hover bn1" href="/register">Registrate</a>
		</form>