<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" th:href="@{/css/post.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

		<!-- Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;0,700;0,900;1,400&family=Montserrat:wght@400;500;600;700;900&family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap"
			rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap" rel="stylesheet">


		<title>Resetear Contraseña</title>
	</head>

	<body>

		<main class="login">
			<h2 class="login__heading">Resetear contraseña</h2>
			<p class="login__heading">
				Se te enviará un mail con el link para restablecerla
			</p><br />

			<form method="post" action="/forgot-password" class="formulario">

				<label for="email" class="formulario__label"></label>
				<input type="email" class="formulario__input" placeholder="email" id="email" name="email" value="" />


				<button type="submit" class="formulario__submit bn632-hover bn19">
					Restablecer
				</button>
			</form>
		</main>

		<footer th:replace="./fragments/footer ::  footer"></footer>

	</body>