<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/normalizer.css">

    <title>Login - Iniciar sesion</title>
  </head>
  <body>
    <main class="login">
      <h2 class="login__heading">Iniciar sesion</h2>
      <p class="login__texto">
        Inicia sesion para poder disfrutar de todos los beneficios que tenemos
        para ti.
      </p>

      <form method="" action="" class="formulario">
        <div class="formulario__campo">
          <label for="email" class="formulario__label"></label>
          <input
            type="email"
            class="formulario__input"
            placeholder="Email"
            id="email"
            name="email"
            value=""
          />
        </div>

        <div class="formulario__campo">
          <label for="password" class="formulario__label"></label>
          <input
            type="password"
            class="formulario__input"
            placeholder="Constraseña"
            id="password"
            name="password"
          />
        </div>

        <button type="submit" class="formulario__submit">Ingresar</button>
        <button type="submit" class="formulario__submit">Registrate</button>
      </form>

      <div class="acciones">
        <a href="#" class="acciones__enlaces">¿Olvidaste tu contraseña?</a>
      </div>
    </main>
  </body>
</html>
