<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Perfil</title>
        <!-- Agrega el enlace a Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous" />

        <link rel="stylesheet" href="../static/css/styleProfile.css">
        <link rel="stylesheet" href="../static/css/default-dark.css">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg mb-4 " style="background-color: #ee6f21;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand " href="/"><img style="width: 40px" src="../img/logo.png"
                        alt="Logo de la empres"></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item me-1">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>


                        </li>
                        <li class="nav-item me-2">
                            <a th:if="${userType ne 'ADMIN' and userType ne 'OWNER' and userType ne 'CLIENT'}"
                                href="/login" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item me-2">
                            <a th:if="${userType ne 'ADMIN' and userType ne 'OWNER' and userType ne 'CLIENT'}"
                                href="/register" class="nav-link">Registrarse</a>
                        </li>
                        <li class="nav-item me-2">
                            <a th:if="${userType eq 'ADMIN' or userType eq 'OWNER' or userType eq 'CLIENT'}"
                                href="/profile" class="nav-link">Mi perfil</a>
                        </li>
                        <!-- <li class="nav-item me-2">
						<a th:if="${userType eq 'OWNER'}" href="/dashboard/owner/register-property" class="nav-link">Registrar Propiedad
						</a>
					</li> -->
                        <li class="nav-item me-2">
                            <a th:if="${userType eq 'ADMIN' or userType eq 'OWNER' or userType eq 'CLIENT'}"
                                href="/dashboard" class="nav-link">Dashboard
                            </a>
                        </li>

                    </ul>
                    <div class="d-flex ">
                        <a th:if="${userType eq 'ADMIN' or userType eq 'OWNER' or userType eq 'CLIENT'}" href="/logout"
                            class="nav-link">
                            <button class="btn btn-outline-light ">Logout</button>
                        </a>

                    </div>
                </div>
        </nav>

        <center>
            <div class="page-wrapper mb-5">
                <div class="container-fluid">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Perfil</h3>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <center class="mt-4">
                                <img th:src="${user.img}" class="img-circle" width="150" />
                                <h4 th:text="${user.username}" class="card-title mt-2"></h4>
                                <h4 th:text="${user.lastname}" class="card-subtitle mt-2"></h4>
                                <h6 th:text="${user.type}" class="card-title mt-2"></h6>
                                <h6 th:text="${user.email}" class="card-subtitle mt-2"></h6>

                            </center>
                        </div>

                    </div>
        </center>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
            </script>


    </body>

</html>