<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>reset password</title>
</head>

<body>

	<form method="post" action="/reset-password">
		<input type="hidden" name="token" th:value="${token}" />
		<label for="password">New Password:</label>
		<input type="password" id="password" name="password" required>

		<label for="password2">Confirm New Password:</label>
		<input type="password" id="password2" name="password2" required>

		<button type="submit">Reset Password</button>
	</form>

</body>