<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/post.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

	<!-- Fuentes -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;0,700;0,900;1,400&family=Montserrat:wght@400;500;600;700;900&family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap" rel="stylesheet">

	<title>reset password</title>
</head>

<header th:replace="./fragments/header ::  header"></header>

<body>
	
	<main class="login">
		<h2>Confirme nueva contraseña</h2>

		<form method="post" action="/reset-password">
			<input type="hidden" name="token" th:value="${token}" />
			<label for="password">New Password:</label>
			<br />
			<input type="password" id="password" name="password" required>
			<br /><br />
			<label for="password2">Confirm New Password:</label>
			<br />
			<input type="password" id="password2" name="password2" required>
			<br />
			<button class="formulario__submit bn6-hover bn1" type="submit">Reset Password</button>
		</form>
	</main>

	<footer th:replace="./fragments/footer ::  footer"></footer>

</body>